# Eclipse stuff
/.classpath
/.project
/.settings
/.checkstyle

# netbeans
/nbproject

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf
*MANIFEST.MF
/out

# Mac filesystem dust
*.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/

